* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

.calendar-home-container {

  display: flex;
  flex-direction: column;

  background-color: white;
  align-items: center;

  width: 100%;
  height: 100%;
  min-height: 800px;

}


.calendar-list-container {
  margin-top: 30px;
}


.calendar-create-btn-container {
  margin-top: 20px;
  margin-bottom: 40px;
  z-index: 3;
}

.calendar-create-btn {
  font-size: 130%;

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;

  border: 2px solid #aaaaaa;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease;
}

.calendar-create-btn:hover {

  color: white;
  background-color: #2dc997;
  border-color: #2dc997

}


.calendar-total-sum-container {
  margin-top: 50px;
  text-align: center;
  font-weight: 600;
}


.calendar-total-sum {
  font-size: 30px;
  font-weight: 600;
}

.calendar-td-title {
  padding-right: 2em;
}


table .calendar-list-thead th {
  text-align: left;
  background-color: #575555;
  padding-right: 160px;
  color: white;
  font-weight: 400;
  white-space: nowrap;
}


.calendar-enter:hover {

  transition: background-color 0.2s ease;
  background: #c5c9d1;
}


/* 수정 및 삭제하는 td를 제외한 td에만 pointer 적용 */
.calendar-enter td:not(.edit-and-delete-btn-td):hover {
  cursor: pointer;
}


.edit-btn {
  color: gray;
}


.edit-btn:hover {
  color: black;
}

.delete-btn {
  color: gray;
}

.delete-btn:hover {
  color: black;
}

