.container.calendar-item-update-contents {
    min-height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    margin-top: 0px;
}


.container.calendar-item-update-inner-contents {
    min-height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    margin-top: 0px;
}



#item-update-top-hr.top-hr {
    border: 1px solid rgb(188, 186, 186);
    width: 70%;
}

.container.item-update-data-flex-box {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    font-size: large;
    gap: 10px;
}

.container.item-update-data-flex-input-box {
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 5px;
}


.item-update-title {
    margin-right: 20px;
}

.item-update-amount {
    margin-right: 20px;
}

.item-update-type {
    margin-right: 20px;
}

.item-update-btn {
    background-color: white;
    font-size: 100%;
    margin-top: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    color: black;

    border: 2px solid #aaaaaa;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease;
}

.item-update-btn:hover {
    color: white;
    background-color: #2dc997;
    border-color: #2dc997
}

.item-update-title-input {
    border-color: #eae4e4;
    border-radius: 7px;
    width: 200px;
}

.item-update-amount-input {
    border-color: #eae4e4;
    border-radius: 7px;
    width: 200px;
}

.item-update-type-label-expense {
    margin-right: 10px;
}