.footer-logo-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    vertical-align: middle;
    align-items: center;
    margin-bottom : 20px;
}

#footer-radius-logo {
    width: 90px;
    height: auto;
    margin-right: 20px;
}