#portfolio {
    
    margin-top: 500px;
    min-height: 800px;

}


.container.portfolio-info-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
}









.trouble-shooting-btn {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 236, 239);
  border: 2px solid rgb(228, 236, 239);
  border-radius: 8px;
  padding: 7px;
  font-size: 18px;
  color: black;

  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}


.trouble-shooting-btn:hover {
  background-color: rgb(239, 244, 246);
  border-color: rgb(239, 244, 246);
}



#trouble-shooting-btn-span {
  color: rgb(37, 34, 34);
  border: none;
}