.container.sign-in-contents {
    min-height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    margin-top: 0px;

}



.top-scroll-btn-container {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    cursor: pointer;
    background-color: white;

}

.top-scroll-btn-container:hover .bi.bi-arrow-up-short.top-scroll-btn {
    transition: 20%;
    color: rgb(103, 233, 192);
}


.bi.bi-arrow-up-short.top-scroll-btn {
    display: inline;
    font-size: 30px;
    color: rgb(45, 201, 151);
    transition: 0.5s ease;
}


.bi.bi-arrow-up-short.top-scroll-btn::before {
    display: inline;
}



.sign-in-title-box {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#sign-in-dae-jang-bu-logo {
    width: 130px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}



.container.sign-in-inner-contents {
    margin-top: 40px;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
}


.container.sign-in-data-flex-box {

    display: flex;
    flex-direction: column;
    /* font-size: large; */
    width: 35%;

}


.sign-in-user-id-input {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #aaaaaa;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

}


.sign-in-user-password-input {
    border-top: 1px solid transparent;
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}


#btn-sign-in {
    width: 100%;
    margin-top: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    transition: 0.5s;
    border: 2px solid #cccccc;
    cursor: pointer;
    transition: 0.5s ease;
}

#btn-sign-in:hover {
    background-color: #2dc997;
    border-color: #2dc997
}

